<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Listview Test</title>
	<link rel="stylesheet" href="../src/css/bootstrap.css" />
</head>
<body>
<div ng-app="palaso.ui.listview">
<table listview items="shows" visible-items="visibleShows" class="table" style="width: 100%">
	<tbody>
	<tr ng-repeat="show in visibleShows" ng-class="{active: isSelected(show)}" ng-click="selectShow(show)" >
		<td width="168px"><img ng-src="{{show.snapUrl}}" style="width: 160px; height: auto" /></td>
		<td><a href="#/show/{{show.id}}">{{show.name}}</a></td>
	</tr>
	</tbody>
</table>		
</div>

<script	src="../src/lib/js/angular.min.js"></script>
<script	src="../src/lib/js/ng-ui-bootstrap-tpls-0.4.0.js"></script>
<script	src="../src/listview.js"></script>
<!-- <script	src="listview-sample.js"></script> -->

</body>
</html>