
/* listview */
div.listview {
	margin-top: 8px;
}

div.listview div.paginationblock div {
	display: inline-block;
}

div.listview .active {
	background-color: #ffc;
}

div.listview div.pagination select {
	width: 70px;
}

/* Listview for projects, questions, answers views */
div.listview div.attention-block {
	text-align: center;
	background-color: #d3d3d3; /* lightgray */
	color: #dc143c; /* crimson */
	padding: 10px;
}

div.listview div.attention-block .count {
	font-size: 1.8em;
}

div.listview div.attention-block .subtitle {
	font-size: 1.0em;
}

span.larger-text {
	font-size: 1.2em;
}

/* Control bar for use at top of listview */
form.control-bar {
	margin-bottom: 0px;
}
